html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', 'Fraunces', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: #fff;
}

main {
  flex-grow: 1;
}

button{
  background-color: transparent;
  border: none;
}

input{
  border: none;
  background-color: transparent;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}